.svelte-vuhlbv{font-family:'Fira Code', Consolas, monaco, monospace}table.svelte-vuhlbv{border-collapse:collapse}td.svelte-vuhlbv{border:1em solid black
    }.diagonal.svelte-vuhlbv{background-image:linear-gradient(
  -45deg,
  #434343 12.5%,
  #202020 12.5%, #202020 50%,
  #434343 50%, #434343 62.5%,
  #202020 62.5%, #202020 100%
);background-size:8px 8px}.number.svelte-vuhlbv{padding-left:0.5em;font-weight:bold;border:none}p.svelte-vuhlbv{white-space:pre;font-weight:bold;margin-top:0px}